﻿@model WebApplication4.Models.Equipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipe</h4>
    <hr />
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
