﻿<!DOCTYPE html>
<html>
<head>
    @{ Html.RenderPartial("_PartialPageHead", new WebApplication4.util.PartialViewModel() { Title = ViewBag.Title }); }
</head>
<body>
    @{ Html.RenderPartial("_PartialPageMenu", new WebApplication4.util.PartialViewModel() { Title = ViewBag.Title }); }
    <div class="container">
        @RenderBody()
    </div>

    @{ Html.RenderPartial("_PartialPageScripts", new WebApplication4.util.PartialViewModel() { Title = ViewBag.Title }); }
    @RenderSection("scripts", required: false)
</body>
</html>
