﻿@model WebApplication4.util.PartialViewModel 
    <nav class="navbar fixed-top navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/Default.aspx">WebApplicaation4</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(HttpUtility.HtmlDecode("Equipes"), "Index", "Equipes")</li>
                <li>@Html.ActionLink(HttpUtility.HtmlDecode("Poderes"), "Index", "Poderes")</li>
                <li>@Html.ActionLink(HttpUtility.HtmlDecode("Herois"), "Index", "Herois")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Default.aspx")"><span class="glyphicon glyphicon-home"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

