﻿@model WebApplication4.util.PartialViewModel 
<!--script src="~/Scripts/modernizr-2.8.3.js"><script-->
<script src="~/Scripts/moment.js"></script>
<script src="https://use.fontawesome.com/3ec503b8e6.js"></script>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/respond.js"></script>
