﻿@model WebApplication4.Models.Poder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Poder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
