﻿@model WebApplication4.Models.Heroi
@using WebApplication4.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Heroi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Equipe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipe.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vitrine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vitrine)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PoderesId, "Poderes")
        </dt>
        <dd>
            <ul>
                @foreach (Poder poder in ViewBag.ListaPoderes)
                {
                    <li>
                        @if (Model.Poderes.Select(e => e).Where(e => e.Id == poder.Id).Count() > 0)
                        {
                            <input type="checkbox" name="PoderesId" value="@poder.Id" checked="checked" disabled/>
                        }
                        else
                        {
                            <input type="checkbox" name="PoderesId" value="@poder.Id" disabled/>
                        }
                        @poder.Nome
                    </li>
                }
                @Html.ValidationMessageFor(model => model.PoderesId)
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
