﻿@model WebApplication4.Models.Heroi
@using WebApplication4.Models

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Heroi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vitrine, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Vitrine)
                    @Html.ValidationMessageFor(model => model.Vitrine, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("EquipeId", "Equipe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EquipeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoderesId, "Poderes", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="editor-field col-md-10">
                <ul>
                    @foreach (Poder poder in ViewBag.ListaPoderes)
                {
                        <li>
                            @if (Model.Poderes.Select(e => e).Where(e => e.Id == poder.Id).Count() > 0)
                            {
                                <input type="checkbox" name="PoderesId" value="@poder.Id" checked="checked" />
                            }
                            else
                            {
                                <input type="checkbox" name="PoderesId" value="@poder.Id" />
                            }
                            @poder.Nome
                        </li>
                    }
                    @Html.ValidationMessageFor(model => model.PoderesId)
                </ul>
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

